@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-color: #25201f;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}


#company_name
{
	width:100%; margin:0 auto; background:url(images/image_03.gif) center no-repeat; height:90px;
}
#header_bg
{
	width:100%; margin:0 auto; background:url(images/image_07.gif) repeat-x; height:259px;
}
#header_image
{
	width:915; margin:0 auto; background:url(images/image_04.gif) center no-repeat; height:259px;
}
#navigation_bg
{
	width:100%; margin:0 auto; background:#73880a; height:30px;
}
#navigation_bg1
{
	 height:30px; margin-right:auto;
}
#navigation
{
	width:900px; margin:0 auto; height:30px;
}
#navigation1
{
	width:500px; margin:0 auto; height:30px;
}

#navigation ul
{
list-style:none;
margin:0 0 0 250px;
}
#navigation ul li
{
font:normal 12px/30px Arial, Helvetica, sans-serif;
color:#ffffff;
float:left;
text-align:center;
padding:0 15px;
}
#navigation ul li a
{
text-decoration:none;
color:#ffffff;
}
#navigation ul li a:hover
{
text-decoration:none;
color:#ffffff;
font-weight:bold;
}

#content_01
{
	width:906px; margin:20px auto 0 auto;
}
#content_01_image
{
	width:904px; margin:0 auto; height:103px; background:url(images/image_11.gif) 0 0 no-repeat;
}
#page_name
{
height:30px;
width:100px;
font:bold 16px/30px Arial, Helvetica, sans-serif;
color:#bfbfbf;
padding:60px 0 0 333px;
}
#ppp
{
color:#bfbfbf;
}
#content_01_content
{
	width:894px;margin:0 auto;border-top:none; border-bottom:#6F6F6F 5px solid; border-left:#6F6F6F 5px solid; border-right:#6F6F6F 5px solid;
}
#content_01_left
{
	width:320px;margin:0; padding:10px;
	float:left;
}
#contact_left
{
	width:250px;margin:0; padding:10px;
	float:left;
}
#content_01_right
{
	width:340px;margin:0 auto;float:left; padding:5px;
}

#content_01_center
{
	width:190px; margin:0 auto;text-align:center; float:left;
}
#content_01_center img
{
padding:5px 0;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #bfbfbf;
	line-height:25px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #bfbfbf;
	padding:5px;
}

#content_02
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px;
}
#content_vertical
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto;
}
#content_vertical1
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto;
}
#content_vertical25
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto; height:400px;
}
#content_vertical35
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto; height:600px;
}
#content_offer
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto; height:200px;
}
#content_report
{
	width:874px;margin:20px auto 0 auto;border:#6F6F6F 5px solid; padding:10px; margin-left:auto; height:200px;
}





#content_02_image
{
	width:481px; height:351px;background:url(images/5999933841_a807a01126.jpg) center no-repeat; float:right; margin:0 30px 0 0;
}
#content_03_image
{
	width:400px; height:300px;background:url(images/23.jpg) center no-repeat; float:right; margin:0 30px 0 0;
}
#content_04_image
{
	width:500px; height:300px;background:url(images/grocery_shopping-300x222.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#content_05_image
{
	width:200px; height:300px;background:url(images/cust.jpeg) center no-repeat; float:right; margin:0 30px 0 0;
}
#contact_image
{
	width:500px; height:450px;background:url(images/cust2.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#aboutus_image
{
	width:500px; height:450px;background:url(images/photo_3a.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#prdlist_image
{
	width:500px; height:350px;background:url(images/article-new_ehow_images_a07_nc_fp_grocery-deals-800x800.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#prdlist2_image
{
	width:450px; height:350px;background:url(images/b9b1f6cd83846e54c1de213bb005e615.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#prdlist_imagecust
{
	width:500px; height:350px;background:url(images/article-new_ehow_images_a07_nc_fp_grocery-deals-800x800.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}

#itemslist
{
	width:800px; height:500px;background:url(images/Departmental_Stores.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist1
{
	width:800px; height:500px;background:url(images/large_grocery-stores-tax.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist2
{
	width:800px; height:500px;background:url(images/store-convenience.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist3
{
	width:800px; height:500px;background:url(images/stores2.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist4
{
	width:800px; height:500px;background:url(images/storesPageImage.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist5
{
	width:800px; height:500px;background:url(images/SunderKiranaDepartmental_Stores.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist6
{
	width:900px; height:700px;background:url(images/groceries.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}
#itemslist7
{
	width:800px; height:500px;background:url(images/payless_stores.jpg) center no-repeat; float:left; margin:0 30px 0 0;
}

#content_02_text
{
	width:320px; float:left; color:#FF3366;
}#content_03_text
{
	width:600px; float:left; color:#FF3366;
}


#fotter
{
width:890px;
height:40px;
font:normal 11px/18px Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-align:right;
padding-right:10px;
margin:0 auto;
padding-top:10px;
}
#fotter a
{
font:normal 11px/18px Arial, Helvetica, sans-serif;
color:#73880a;
text-decoration:none;
}